# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt

# iOS/macOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/build/
**/ios/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Windows
**/windows/flutter/ephemeral/
**/windows/runner/GeneratedPluginRegistrant.*

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/.dart_tool/

# IntelliJ/VSCode
.idea/
.vscode/
*.iml

# Misc
*.log
.DS_Store
.fakeroot/
coverage/
!.gitignore
